@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Fredoka+One&family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;500;600&display=swap');


:root{
 --main: rgb(186, 219, 204);
 --grey-light: #e9ecef;
 --white: #ffffff;
 --black: rgb(33, 37, 41);
}
*{
 /* border: 1px solid purple; */
 font-family: 'Poppins', sans-serif; 
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: var(--grey-light);
}
.wrapper{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

h1{
 letter-spacing: 0.5px;
 color: var(--black);
 margin-top: 10vh;
}

#grid{
 margin: 50px auto 0;
 display: grid;
 grid-template-columns: repeat(3, 125px);
 grid-template-rows: repeat(3, 125px);
 gap: 10px;
}
.box{
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.1s;
 background-color: var(--white);
 box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1) , 0px 1px 2px 0px rgba(0,0,0,0.06) ;
 border-radius: 8px;
}
.box:hover{
 transition: 0.1s;
 transform: scale(1.05);
}
.mark{
 cursor: default;
 color: var(--black);
 font-family: 'Fredoka One', cursive;
 font-size: 6rem;
}
.mark::selection{
 background-color: transparent;
}

#result-div{
 height: 64px;
 margin: 2rem;
}
.result{
 width: 395px;
 height: 3rem;
 background-color: var(--main);
 border-radius: 8px;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 2rem;
}
.result h4{
 font-size: 1.3rem;
 color: var(--black);
 font-weight: 500;
}

#restart{
 border-radius: 5px;
 width: 10rem;
 font-size: 20px;
 padding: 0.75rem ;
 color: var(--white);
 background-color:rgb(33, 37, 41, 0.9);
 border: 1px solid rgb(33, 37, 41, 0.9);
}
#restart:hover{
 color: var(--white);
 background-color: rgb(33, 37, 41, 0.8);
 border: 1px solid rgb(33, 37, 41, 0.8);
}


/* Media Queries */
@media screen and (max-width: 600px){
 *{
  margin: 0 !important; 
 }
 #grid{
  margin-top: 2rem;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: min(420px, 90vw);
  height: min(420px, 90vw);
 }
 .wrapper{
  height: 100vh;
  gap: 1.5rem;
 }
 .mark{
  font-size: min(90px, 20vw);
 }
 .result{
  width: min(420px, 90vw);
 }

}